includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    autoload_files:
        - vendor/autoload.php
    excludes_analyse:
        - src/LuigisBoxBundle/Tests/*
