includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - %rootDir%/../../../src
    excludePaths:
        - src/LuigisBoxBundle/Tests/*
